<a class="blog-title {{#if @blog.logo}}blog-logo{{/if}}" href="{{@blog.url}}">
    {{#if @blog.logo}}
        <img src="{{@blog.logo}}" alt="Blog Logo" />
    {{else}}
        {{@blog.title}}
    {{/if}}
</a>
<nav class="blog-menu">
    {{navigation}}
</nav>