<section>
    <a class="blog-title" href="{{@site.url}}">
        {{#if @site.logo}}
            <img class="blog-logo" src="{{img_url @site.logo}}" alt="Blog Logo" />
        {{else}}
            {{@site.title}}
        {{/if}}
    </a>
    {{#is "index"}}{{#unless @site.cover_image}}
        <span class="blog-description">{{@site.description}}</span>
    {{/unless}}{{/is}}
</section>
{{navigation}}