<section class="feed">
    {{#foreach posts}}
    <article itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting" class="{{post_class}}" style="opacity: 0;">
        {{#if image}}
        <a href="{{url}}" itemprop="url" class="post-image">
            <img src="{{image}}" alt="">
            <h2 class="post-title" itemprop="name headline">{{{title}}}</h2>
        </a>{{else}}
        <h2 class="post-title" itemprop="name headline"><a href="{{url}}" itemprop="url">{{{title}}}</a></h2>
        {{/if}}
        <section class="post-content" itemprop="articleBody text">
            {{excerpt words=25}}…
        </section>
        <section class="post-meta">
            <span class="date"><i class="fa fa-clock-o"></i> <a href="{{url}}"><time datetime="{{date format='YYYY-MM-DDTHH:mm'}}" title="{{date format='D MMMM YYYY'}}">{{date published_at timeago='true'}}</time></a></span>
            {{#author}}<span itemprop="author" itemscope itemtype="http://schema.org/Person" class="author"><i class="fa fa-user"></i> <a itemprop="name" href="{{url}}">{{name}}</a></span>{{/author}}
            {{#if tags}}<span class="tags"><i class="fa fa-tags"></i>
                <span itemprop="keywords">
                {{tags prefix="" separator=", "}}</span>
            </span>{{/if}}
        </section>
    </article>
    {{~/foreach}}
</section>
{{pagination}}