<!DOCTYPE html>
<html lang="{{@site.lang}}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

    <title>{{meta_title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:300,400,600,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif:400,700,400italic" rel="stylesheet" type="text/css">
    <link href="{{asset 'css/style.min.css'}}" rel="stylesheet" type="text/css">
    <link href="{{asset 'favicon.ico'}}" rel="shortcut icon">
    {{ghost_head}}
    <meta name="theme" content="Saga v2.0.0">
</head>
<body class="{{#is "index"}}index {{/is}}{{body_class}}">
    {{{body}}}

    <footer class="footer animated hidden@print fadeIn" id="footer">
        {{> footer}}
    </footer>
    {{ghost_foot}}
    <script type="text/javascript" src="{{asset 'js/Saga.js'}}"></script>
    <script id="__bs_script__">//<![CDATA[
    document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.js?v=2.26.7'><\/script>".replace("HOST", location.hostname));
    //]]></script>
</body>
</html>