{{!< default}}
{{#post ~}}
<header id="header" class="animated fadeIn"{{#if image}} style="background-image: url({{image}})"{{/if}}>
    <div class="header-background">
    <section class="blog-content">
        <a id="site-url" class="blog-title" href="{{@blog.url}}">{{@blog.title}}</a>
        <span class="blog-description">{{@blog.description}}</span>
        {{> links}}
    </section>
    <section class="header-content">
        <h1 class="post-title animated fadeInUp">{{{title}}}</h1>
        <span class="post-data"><span class="date animated fadeInUp"><i class="fa fa-clock-o"></i> <time class="timesince date" data-timesince="{{date format='X'}}" datetime="{{date format='YYYY-MM-DDTHH:mm'}}" title="{{date format='DD MMMM YYYY'}}">{{date published_at timeago='true'}}</time></span>
            {{#if tags}}<span class="tags animated fadeInUp"><i class="fa fa-tags"></i> {{tags prefix="" separator=", "}}</span>{{/if}}
            {{#author}}<span class="author animated fadeInUp"><i class="fa fa-user"></i> <a href="{{url}}">{{name}}</a></span>{{/author}}</span>
    </section>
    </div>
</header>
<main id="main" class="content">
    <article itemtype="http://schema.org/BlogPosting" class="animated fadeIn content post {{post_class}}">
        <section class="post-content">
            {{content}}
        </section>
    </article>
</main>
{{~/post}}