{{!< default}}
{{#post ~}}
<header id="header" class="animated fadeIn">
    <div class="header-background">
    <section class="blog-content">
        <a itemprop="name url" class="blog-title" href="{{@blog.url}}">{{@blog.title}}</a>
        <span itemprop="description" class="blog-description">{{@blog.description}}</span>
        {{> links}}
    </section>
    <section class="header-content">
        <h1 class="post-title animated fadeInUp">{{{title}}}</h1>
        <span class="post-data animated fadeInUp"><time class="timesince date" datetime="{{date format='YYYY-MM-DDTHH:mm'}}" title="{{date format='D MMM YYYY'}}" data-timesince="{{date format='X'}}">{{date format='D MMM YYYY'}}</time> <span class="tags">{{tags prefix="i " separator=", "}}</span></span>
    </section>
    </div>
</header>
<main id="main">
    <article itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting" class="animated fadeIn content post {{post_class}}">
        <header class="post-meta">
            <span itemprop="name headline">{{{title}}}</span>
            <time class="timesince date" datetime="{{date format='YYYY-MM-DDTHH:mm'}}" title="{{date format='DD MMMM YYYY'}}" data-timesince="{{date format='X'}}">{{date format='DD MMMM YYYY'}}</time>
            <span itemprop="keywords" class="tags">{{tags prefix="on " separator=", "}}</span>
        </header>
        <section class="post-content" itemprop="articleBody text">
            {{content}}
        </section>
    </article>
</main>
{{~/post}}